[user]
	email = aiohofficial@gmail.com
	name = Zhukov Aleksandr
{{- if eq .chezmoi.os "windows" }}
[includeIf "gitdir:{{ .chezmoi.homeDir }}/Documents/projects/mts.ai/**"]
	path = {{ .chezmoi.homeDir }}/Documents/projects/mts.ai/.gitconfig
{{- else }}
[includeIf "gitdir:{{ .chezmoi.homeDir }}/projects/mts.ai/**"]
	path = {{ .chezmoi.homeDir }}/projects/mts.ai/.gitconfig
[core]
	autocrlf = input
{{- end }}
[safe]
	directory = {{ .chezmoi.homeDir }}/.local/share/chezmoi
